*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
:root{
--maim-color:#E8F1F5 ;
}
.nav-link, #dtc{
    color: var(--maim-color) !important;
    font-size: 20px;
    font-weight: bold;

}
.nav-link{
    margin-left:40px ;
}
#dtc{
    color: var(--maim-color);
margin-right: 40px;
font-size: 40px;
text-shadow: 0 0 12px #E8F1F5;
}

.them{
    color: var(--maim-color) !important;
    text-shadow: 0 0 12px #E8F1F5 ;
}
.header{
   background-image:linear-gradient( to top ,rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%),url('https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=600');
    width: 100%;
    height: 100vh;
    background-position: center;
   
    background-size: cover;
}

.text{
    text-align: center;
    align-items: center;
    font-size: 60px;
 
    font-weight: 900;
    color: aliceblue;
    position: absolute;
    top: 40%;
    left: 5%;
    justify-content: center;

    color: rgb(238, 234, 26);
}
.act{
    color: var(--maim-color);
    border-bottom: 1px solid var(--maim-color) !important;
}
.act1:hover{
    color: var(--maim-color);
    border-bottom: 1px solid var(--maim-color) !important;

}
 

/*  cards      */


.card123{
   
    border-radius: 20px;
    line-height: 20px;
    display: flex;
    margin-top: 100px;
    align-items: center;
}
.card{

    display:flexbox ;
  
}
.card-body{

    margin: 2px;
}
