


 
 
 *{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;

}
body{
  background-color: #f3f5f8;
}
.nav-item{
  color: blue;
  font-weight: bold;
}
.nav-item .nav-link{
  margin-left: 30px;
 text-transform: capitalize;
}

.img-fluid{
  width: 500px;
  height: 500px;
  position: absolute;
  left: 65%;
  top: 34%;
}

p{
  
  text-align: right;
 
}
.back{
  background-color: #f3f5f8;
  height: 90vh;
  width: 100%;
}
.text{
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 20px;
  font-weight: bold;

}

.text h3{
  font-size: 50px;
  text-transform: uppercase;
  color: black;
  text-indent: -5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text span{
  font-size: 50px;
  font-weight: bold;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
 
}
.para{
  position: absolute;
font-family: serif;
  top: 50%;
  left: -400px;
}
p::first-letter{
  font-size: 40px;
  color: blue;
}
.para::before{
  content: '';
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: blue;
}