h2{
    text-align: center;
    color: aqua;
    font-size: 30px;
    text-transform: uppercase;
}
.col{
    border: 2px solid black;
}
.mb-3{
    border: 2px soild black;
    background-color: aquamarine;
    align-items: center;
    font-size: small;
}