*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #f3f5f8;
}

.cont{
    width: 100%;
min-height: 100vh;
background-color: #f3f5f8;


}
nav{
display: flex;
width: 100%;
justify-content: space-around;
height: 80px;
z-index: 111;

line-height: 80px ;
}
.logo {
    display: flex;
    font-size: 40px;
    font-weight: 900;
    color:#3d535f ;
letter-spacing: 3px ;
cursor: pointer;
text-transform: uppercase;
text-indent: -50px;
z-index: 1;
animation: e 5s ease  infinite;
}

@keyframes e{
    0%,50%{
        color: #7f00ff;
        text-shadow: 0 0 0px #7f00ff, 0 0 1px #7f00ff , 0 0 100px #7f00ff;
       
        
    }
    50%,100%{
        color: #3d535f;
       
    }
}



b{
    font-size: 75px;
    color:#7f00ff ;
text-indent:10px;
animation: e 5s ease-in-out infinite;
}

.navitmes{
    display: flex;


}
.navitmes li{
   
    list-style: none;
margin: 0 20px  ;
z-index: 1;
}
.navitmes li a {
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: capitalize;
   color: #3d535f;
font-family: Arial, Helvetica, sans-serif;


} 
.navitmes li  a:hover ,.link a:hover{
    color: #7f00ff;
animation: r 1.50s ease-in-out infinite;
}
@keyframes r{
    0%,50%{
        color: aqua;
       text-shadow: 0 0 12px lime , 0 0  50px lime, 0 0 100px lime;
      
    }
    
    50%,100%{
        color: rgb(177, 70, 212);
        text-shadow: none;
    }
}
.link a{
    font-size: 25px ;
    color: #3d535f;
    margin: 25px 10px ;
    cursor: pointer;

}
.walpper{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10% ;
    overflow: hidden;


}
.walpper::before{
    position: absolute;
    content: '';
    height: 400px;
    width: 400px;
    border-radius: 50%;
    left: 1%;
    top: 40%;
    background: linear-gradient(45deg, #7f00ff, pink);
    animation: obb 8s linear infinite;
    
}
@keyframes obb{
    50%{
        left: -10%;
        top:41%;
    }
}
.walpper::after{
    position: absolute;
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, #7f00ff, pink);
    animation: obf 8s linear infinite;
    
}

.multitext {
    width: 700%;
}
@keyframes obf{
    50%{
        left: 40%;
        top: 22%;
    }
}
.cols0{
    width: 50%;
z-index: 5;

}

.topline{

    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;


}

h1{
    display: block;
    font-size: 5em;
    font-weight: 900;
    color:#3d535f;
}
.multitext{
    color: #7f00ff;
    text-transform: capitalize;
    
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color:#3d535f ;
}
.btns{
    width: 100%;
    position: relative;
    left: 150px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #f3f5f8;
    padding: 8px 14px ;
    margin: 40px 5px ;
    letter-spacing: 2px;
    background-color: #3d535f;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.5);
}
*::selection{
    color: #f3f5f8;
    background-color: #7f00ff;
    
}
button:hover{
    background-color: #7f00ff;

}
.imagebox{

position: relative;
width: 100%;
height: 100%;


}
.cols0{
   
    width: 900px;
}
.imagebox img{
    position: relative;
    height: 100%;
    width: calc(160% - 300px);
  top: 27px;
  right: -30%;
  animation: rami 4s linear infinite;
  
 
}
#r1{
    border-bottom:5px solid #7f00ff ;
    border-radius: 30px;
    
}

.imagebox #splash{
position: absolute;
top: 64%;
left: 80%;
transform: translate(-60%,-50%) rotate(-5deg);
width: 90%;
filter: saturate(300%);

}
.para::first-letter{
    font-size: 30px;
    color: #7f00ff;
    font-weight: bold;
}
.main2{
    color:#2157a8;
   width: 100vh;
    height: 100%;
    
}
.about   ::first-letter{
    color:#7f00ff;
    font-size: 70px;
}
.me span{
    color: #7f00ff;
}

  

.me{
    position: relative;
    left: 68%;
    top: 100px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3d535f;
    letter-spacing: 2px;

}

.about{
    font-size: 30px;
    font-weight: bold;
    text-indent: 100px;
position: relative;
top: 70px;
left: 399px;
color: #3d535f;
}
.box{
    width: 300px;
    height: 400px;

}
.image1:hover{
    box-shadow: 0 0 100px #7f00ff;
  border: 2px solid #7f00ff;
}
.image1{
    width:400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
  cursor: pointer;
    transform: rotateY(180deg);
    border: 2px solid #7f00ff;
    border-radius: 9px;
    animation: q 3s linear infinite;

background-color: #7f00ff;
}
@keyframes q{
    0%{
        border: 2px solid #7f00ff;
        box-shadow: 0 0 12px #7f00ff;
    }
    25%{
        border: 2px solid #7f00ff;
        box-shadow: 0 0 12px #7f00ff;
    }
    50%{
        border: 2px solid #7f00ff;
        box-shadow: 0 0 12px #7f00ff;
    }
    100%{
        border: 2px solid #7f00ff;
        box-shadow: 0 0 12px #7f00ff;
    }
}
.name p::first-letter{
    color: #7f00ff;
    font-size: 70px;
}
.name a:hover{
    background-color: #7f00ff;
    padding: 3.5px ;
    box-shadow: 0 0 12px #7f00ff;
  
   
}
.name a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    background-color: #3d535f;
    color: #f3f5f8;
    border-radius: 20px;
    padding: 5px;
    position: relative;
    left: 510px;
    top: -190px;
    letter-spacing: 5px;
}

.name p {
    line-height: 1.5em;
    width: 660px;
    float: left;
   
    position: relative;
    left: 70%;
    top: -270px;
    font-weight: bold;

}
.music{ display: flex;
    align-items:center ;
    justify-content: center;
    height: 100vh;
    background-color: #f3f5f8;
gap: 20px;
position: absolute;
top: -200px;
left: 800px;




}
.loder{
    width: 12px;
    height: 4px;
    border-radius: 10px;
    background-color: #3d535f;
    animation: m  1.5s ease-in-out infinite;
    
}
@keyframes m {

    0%{
        height: 4px;

    }
    50%{
        height: 90px;
        
    }
    100%{
        height: 4px;
        
    }
}
.music :nth-last-child(1){
    background-color: #7f00ff;
    animation-delay: 1s;
}
.music :nth-last-child(2){
    
    animation-delay: 0.8s;
}
.music :nth-last-child(3){
    background-color: #7f00ff;
    animation-delay: 0.6s;
}
.music :nth-last-child(4){
    
    animation-delay: 0.4s;
}
.music :nth-last-child(5){
    background-color: #7f00ff;
    animation-delay: 1s;
}
.music :nth-last-child(6){
    
    animation-delay: 0.8s;
}
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');


.main span{
    animation: glow 2.9s ease-in-out infinite;

}
@keyframes glow{
    0% ,70%{
        color:#fff;
      
       border-radius: 20px;
       text-align: center;
       align-items: start;
      
      
        text-shadow: 0 0 12px  #7f00ff;
    }
    70%, 100%{
        color: #111;
       text-shadow: none;
       
       
        
    }


}

.main  :nth-child(1){
    animation-delay: 0.25s;
    
   
  
   cursor: pointer;
   transform: rotate(45deg);


}
.main :nth-child(2){
    animation-delay: 0.5s;
}
.main   :nth-child(3){
    animation-delay: 0.75s;
    
}
.main  :nth-child(4){
    animation-delay: 1s;
}
.main  :nth-child(5){
    animation-delay: 1.25s;
}
.main  :nth-child(6){
    animation-delay: 1.5s;
    text-transform: uppercase;
}
.main  :nth-child(7){
    animation-delay: 1.75s;
}
.main  :nth-child(8){
    animation-delay: 2s;
}
.main  :nth-child(9){
    animation-delay: 2.25s;
}
.main  :nth-child(10){
    animation-delay: 2.50s;
}
.main  :nth-child(11){
    animation-delay: 2.75s;
   
}
.main  :nth-child(12){
    animation-delay: 3s;
    
}
